
src/\.vs/

src/Accord/Accord\.Audio/bin/

src/Accord/Accord\.Audio/obj/

src/Accord/Accord\.Core/bin/

src/Accord/Accord\.Core/obj/

src/Accord/Accord\.Fuzzy/bin/

src/Accord/Accord\.Fuzzy/obj/

src/Accord/Accord\.Genetic/bin/

src/Accord/Accord\.Genetic/obj/

src/Accord/Accord\.IO/bin/

src/Accord/Accord\.IO/obj/

src/Accord/Accord\.Imaging/bin/

src/Accord/Accord\.Imaging/obj/

src/Accord/Accord\.MachineLearning/bin/

src/Accord/Accord\.MachineLearning/obj/

src/Accord/Accord\.Math/bin/

src/Accord/Accord\.Math/obj/

src/Accord/Accord\.Neuro/bin/

src/Accord/Accord\.Neuro/obj/

src/Accord/Accord\.Statistics/bin/

src/Accord/Accord\.Statistics/obj/

src/Alglib/bin/

src/Alglib/obj/

src/DataCenter/obj/

src/Manager/obj/

src/Types/bin/

src/Types/obj/

src/TradingCenter/bin/

src/TradingCenter/obj/

src/SharpML\.Recurrent/bin/

src/SharpML\.Recurrent/obj/

src/RnnCenter/bin/

src/RnnCenter/obj/

src/DataCenter/bin/

src/Manager/bin/

src/packages/
